{% extends "base.html" %}
{% load staticfiles %}
{% load comment_tags %}
{% load highlight %}
{% load likes_tag %}
<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>

{% block title %}我的网站|博文搜索{% endblock %}

{% block nav_blog_active %} active {% endblock %}

{% block style %}
      <link rel="stylesheet" href="{% static '/blog/css/blog.css'%}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">{% block blog_list_title%}博客列表{% endblock %}</div>
                <div class="panel-body">
                    {% if query %}
                         {% for blog in page.object_list %}
                               <div class="blog">
                                 <h4><a href="{% url 'blog_detail' blog.object.pk %}">{{ blog.object.title }}</a></h4>

                                  <p class="blog-info">
                                       <span class="glyphicon glyphicon-tag"></span><a href="{% url 'blogs_with_type' blog.object.blog_type.pk %}"> {{ blog.object.blog_type }}</a>&nbsp;&nbsp;
                                       <span class="glyphicon glyphicon-time"></span>{{ blog.object.created_time | date:"Y-m-d"}}&nbsp;&nbsp;
                                       阅读({{ blog.object.get_read_num }})&nbsp;&nbsp;评论({% get_comment_count blog.object%})&nbsp;&nbsp;点赞({% get_like_count blog.object%})
                                   </p>
                               </div>
                               <hr>
                               <div class="entry-content clearfix">
                                    <p>{% highlight blog.object.content with query %}</p>
                               </div>
                            {% empty %}
                                <div class="blog">
                                    <h3>没有搜索到你想要的结果！</h3>
                                </div>
                            {% endfor %}
                            {% if page.has_previous or page.has_next %}
                                <div>
                                    {% if page.has_previous %}
                                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页
                                    {% if page.has_previous %}</a>{% endif %}
                                    |
                                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页
                                    &raquo;{% if page.has_next %}</a>{% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            请输入搜索关键词，例如 django
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><h4><span class="glyphicon glyphicon-list"></span>&nbsp博客分类</h4></h3>
              </div>

                <div class="panel-body">
                    <ul class="blog-types">
                        {% for blog_type in blog_types %}
                            <li>
                                <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                    {{ blog_type.type_name}}({{ blog_type.blog_count}})
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

                <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><h4> <span class="glyphicon glyphicon-tag"></span>&nbsp;标签</h4></h3>
              </div>

                <div class="panel-body">
                    <ul class="blog-types">
                        {% for blog_tag in blog_tags %}
                            <li>
                                <a href="{% url 'blogs_with_tag' blog_tag.pk %}">
                                    {{ blog_tag.tag_name}}({{ blog_tag.blog_count}})
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-calendar"></span>&nbsp;日期归档</div>
                <div class="panel-body">
                    <ul>
                        {% for blog_date, blog_count in blog_dates.items %}
                        <li>
                            <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                {{ blog_date | date:"Y年m月"}}({{ blog_count }})
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}