
.hot-blog-title{
    margin-left:30%;
    font-size:1.3em;
}

.hr{
    margin:0 auto;
    width:50%;
}

div#trend-container {
   width: 50%;
   float:left;
}

div.hot-data{
    text-align: center;
    margin-top:2em;
}

#home{
    margin-top:3%;
    margin-left:3%;
    font-size:1.2em;
}
.home-title{
    font-size:1.5em;
}