
.hot-blog-title{
    margin-left:30%;
    font-size:1.3em;
}

.hr{
    margin:0 auto;
    width:50%;
}

div#trend-container {
   width:60%;
   float:left;
}


div.hot-data{
    margin-left:30%;
    text-align: left;
    margin-top:1%;
    font-weight:bold;
}

#home{
    padding:3%;
    font-size:1.2em;
    background-image: url(../img/bcbg.jpg);

}
.home-title{
    font-size:1.5em;
}

div.tag-data{
    margin-left:30%;
    text-align: left;
    margin-top:1%;
    font-weight:bold;
}

#aboutme{
    padding:4%;
}

#trend{
    padding:4%;
}

.perinfo{
    color: #337AB7;
}

.visitfont{
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}
.visitnum{
    color: #337AB7;
    font-size: 1.2em;
    font-weight: bold;
}