{% extends "base.html" %}

{% block title %}{{ page_title}}{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block content %}
<div class="container">
      <div class="rows">
            <div class="col-xs-4  col-xs-offset-4">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                               <div class="panel-title">{{form_title}}</div>
                        </div>

                        <div class="panel-body">
                              <form action="" method="POST">
                                   {% csrf_token %}
                                   {% for field in form %}
                                       {% if not field.is_hidden %}
                                       <label for="{{ field.id_for_label}}">{{ field.label}}</label>
                                  {% endif %}
                                       {{ field }}
                                       <p class="text-danger">{{ field.errors.as_text}}</p>
                                   {% endfor%}
                                  <span class="pull-left text-danger">{{ form.non_field_errors}}</span>
                                  <input type="submit" class="btn btn-primary pull-right" value="{{submit_text}}">
                             </form>
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}