{% extends "base.html" %}

{% load staticfiles %}

{% block title %}我的网站|首页{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block content %}
     <div class="row">

          <div class="col-md-4">
              <p class="hot-blog-title"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;热点博文</p>
              <hr class="hr">
              <div class="hot-data">
                    <!-- 今天的热门博客 -->
                    <h4>今天热门博客</h4>
                    <ul>
                        {% for hot_data in today_hot_data %}
                            <li>
                                <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title}}({{ hot_data.read_num }})</a>
                            </li>
                        {% empty %}
                            <li>今天暂时没有热门博客</li>
                        {% endfor %}
                    </ul>
              </div>
              <div class="hot-data">
        <!-- 昨天的热门博客 -->
            <h4>昨天热门博客</h4>
            <ul>
                {% for hot_data in yesterday_hot_data %}
                    <li>
                        <a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title}}({{ hot_data.read_num }})</a>
                    </li>
                {% empty %}
                    <li>昨天暂时没有热门博客</li>
                {% endfor %}
            </ul>
        </div>
              <div class="hot-data">
            <!-- 7天的热门博客 -->
                <h4>7天热门博客</h4>
                <ul>
                    {% for hot_blog in hot_blogs_for_7_days %}
                        <li>
                            <a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}({{ hot_blog.read_num_sum }})</a>
                        </li>
                    {% empty %}
                        <li>昨天暂时没有热门博客</li>
                    {% endfor %}
                </ul>
            </div>

               <p class="hot-blog-title"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签</p>
              <hr class="hr">

          </div>

          <div class="col-md-8" >
             <ul id="myTab" class="nav nav-tabs">
                 <li class="active"><a href="#home" data-toggle="tab">编程之禅</a></li>
                 <li><a href="#trend" data-toggle="tab">趋势图</a></li>
                 <li><a href="#aboutme" data-toggle="tab">关于我</a></li>
             </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">

                        <p class="home-title">The Zen of Python</p>

                        <p> Beautiful is better than ugly.</p>
                        <p>Explicit is better than implicit.</p>
                        <p>Simple is better than complex.</p>
                        <p> Complex is better than complicated.</p>
                        <p> Flat is better than nested.</p>
                        <p> Sparse is better than dense.</p>
                        <p> Readability counts.</p>
                        <p> Special cases aren't special enough to break the rules.</p>
                        <p> Although practicality beats purity.</p>
                        <p> Errors should never pass silently.</p>
                        <p> Unless explicitly silenced.</p>
                        <p>In the face of ambiguity, refuse the temptation to guess.</p>
                        <p> There should be one-- and preferably only one --obvious way to do it.</p>
                        <p> Although that way may not be obvious at first unless you're Dutch.</p>
                        <p> Now is better than never.</p>
                        <p> Although never is often better than *right* now.</p>
                        <p>  If the implementation is hard to explain, it's a bad idea.</p>
                        <p> If the implementation is easy to explain, it may be a good idea.</p>
                        <p> Namespaces are one honking great idea -- let's do more of those!</p>
                </div>

                <div class="tab-pane fade" id="trend">
                      <div id="trend-container"></div>
                      <script>
                // 图表配置
                var options = {
                    chart: {type: 'line'  },       //指定图表的类型，默认是折线图（line）
                    title: {text: null },               // 标题
                    xAxis: {
                        categories: {{ dates |safe }} ,  // x 轴分类
                        tickmarkPlacement: 'on',
                        title: {text: '前七日阅读量变化'},
                    },
                    yAxis: {
                        title: {text: null  },            // y 轴标题
                        labels:{ enabled: false},
                        gridLineDashStyle:'Dash',
                    },
                    series: [{                              // 数据列
                        name: '阅读量',                        // 数据列名
                        data: {{ read_nums }},                     // 数据
                    }],
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {enabled: false},
                    credits: {enabled: false},
                };
                // 图表初始化函数
                var chart = Highcharts.chart('trend-container', options);
            </script>
                </div>
                <div class="tab-pane fade" id="aboutme">
                    <br/>
                    <p>大家好，我叫谢雍庆 ！</p>
                    <hr>
                    <p>努力坚持创作更多有价值的作品。请拿起你的手机扫码友情支持一下 ^-^ ！</p>
                    <img src="{% static 'img/me.png'%}" style="width:30%;"/>
                </div>

            </div>
            <script>
        $(function(){
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // 获取已激活的标签页的名称
                var activeTab = $(e.target).text();
                // 获取前一个激活的标签页的名称
                var previousTab = $(e.relatedTarget).text();
                $(".active-tab span").html(activeTab);
                $(".previous-tab span").html(previousTab);
            });
        });
    </script>
      </div>
   </div>
   <hr/>

{% endblock %}