{% extends "base.html" %}

{% load staticfiles %}

{% block title %}我的网站|错误{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block content %}
<div class="container">
      <div class="rows">
            <div class="col-xs-4  col-xs-offset-4">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                               <div class="panel-title">
                              登录
                        </div>
                        </div>

                        <div class="panel-body">
                              <form action="" method="POST">
                                   {% csrf_token %}
                                   {{ login_form}}
                                  <input type="submit" class="btn btn-primary pull-right" value="登录">
                             </form>
                        </div>
                  </div>

            </div>
      </div>
</div>

{% endblock %}